.input-group > input{
    height: 50px;
    border-radius: 50px;
    background: var(--super-light-gray, #F7F6FF);
}
.macsikom{
    display: flex;
    width: 420px;
    padding: 20px 0px 20px 20px;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 25px 25px 0px #2222220A;
    border-radius: 20px;
    background: var(--light-green, #D7FFEC);
}
.mac-a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.macsikom1{
    display: flex;
    width: 420px;
    padding: 20px 0px 20px 20px;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 25px 25px 0px #2222220A;
}
.comsi > a{
    color: var(--green, #1DBF73);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
.nikita{
    width: 650px;
    height: 900px;
    box-shadow: 0px 25px 25px 0px #2222220A;
    border-radius: 30px;
}
.comsi > hr{
    width: 500px;
}
.nikita > p{
    margin-top: 200px;
    text-align: center;
}
.nikita-text{
    display: inline-flex;
    padding: 12px 24px; 
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: var(--light-orange, #FFEDDD);
}
.nikita-text1{
    display: inline-flex;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0px 20px 20px 20px;
    background: var(--light-orange, #FFEDDD);
}
.oknok{
    display: inline-flex;
    padding: 5px 15px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 20px 0px 20px 20px;
    background: var(--light-green, #D7FFEC);
    margin-left: 575px;
}
.max-wid{
    width: 640px;
    height: 84px;
    border-radius: 0px 0px 20px 20px;
    background: var(--super-light-gray, #F7F6FF);
    margin-left: -10px;
    margin-top: 85px;
}
.max-wid > button{
    width: 44px;
    height: 44px;
    background: var(--gray, #B0AAD0);
    border-radius: 50px;
    border: none;
    color: white;
}
.otpra{
    display: inline-flex;
    padding: 12px 36px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--green, #1DBF73);
    border: none;
    color: white;
}
.input-group1{
    margin-top: -70px;
    margin-left: 100px;
}
.input-group1 > input{
    width: 320px;
    height: 44px;
    border-radius: 100px;
    background: var(--light-gray, #F2F0FE);
}
.buttons{
    margin-top: -70px;
    margin-left: 50px;
}